.body {
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marquee {
    width: 100%;
    background: rgb(255, 255, 255);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .marquee div {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: bold;

    font-family: verdana;
    padding-left: 100%;
    display: inline-block;
    animation: animate 15s linear infinite;
  }
  
  @keyframes animate {
    100% {
      transform: translate(-100%, 0);
    }
  }
  
  